/*@media (min-width: 1200px) {
    테스크탑
}
*/
.MyPage {
    width: 65%;
    margin:3rem auto;
    font-family: 'kyobo';
}

@media (max-width: 1199px) {
    /*테블릿 가로*/
    .MyPage {
        width: 85%;
        margin:3rem auto;
        font-family: 'kyobo';
    }
}

@media (max-width: 991px) {
    /*테블릿 세로*/
}

@media (max-width: 767px) {
    /*모바일*/
    .MyPage {
        width: 35%;
        margin:3rem auto;
        font-family: 'kyobo';
    }
}




