/*@media (min-width: 1200px) { 
    테스크탑
}
*/
.myPage {
    width: 95%;
    padding: 3rem 4rem;  
    margin: 2.5rem auto;
    font-family: 'cookie-regular';
}
.Mypage-pageheader {
    text-align: center;
    font-size: 27px;
    margin-bottom: 10px;
}
.Mypage-avatar {
    width: 250px; 
    height: 250px; 
    align-items: center;
    justify-content: center;
    background-color:#a5cbf0;
}
.ant-btn.ant-btn-default.ant-btn-block.Mypage-modify {
    height: 40px;
    margin-top: 20px; 
    font-size: 20px;
    border-radius: 10px;
    background-color: #8e8f92;
}
.ant-btn.ant-btn-default.ant-btn-block.Mypage-button {
    height: 110px; 
    margin-top: 20px;
    border-radius: 10px;
}
.Mypage-link { font-size: 20px; }

@media (max-width: 1199px) {
    /*테블릿 가로*/
    .myPage {
        padding: 2rem 4rem;
    }
    .Mypage-content {
        text-align: center;
        align-self: center;
        align-content: center;
        align-items: center;
    }
}

@media (max-width: 991px) {
    /*테블릿 세로*/
    .Mypage-content {
        justify-content: center
    }
}

@media (max-width: 767px) {
    /*모바일 가로*/
    .myPage {
        padding: 1rem 4rem;
    }
}

@media (max-width: 415px) {
    /*모바일 세로*/
}



