@import '~antd/dist/antd.css';

.logo_bg {
  position:relative;
  background-color: #e6f7ff;  
  display:flex;
  height:100px; 
  justify-content: center;
  align-items:center;
}
.logo {  
  font-size: 50px;
  font-family: cookie-bold;
  padding: 15px 0px;   
}

.menu {
  padding: 0 20px;
  border-bottom: solid 1px #e8e8e8;
  overflow: hidden;
  box-shadow: 0 0 30px #f3f1f1;
  background-color: white;
  font-family: cookie-regular;
}

.menu__container .ant-menu-item {
  padding: 0px 5px;
}

.menu__container .ant-menu-submenu-title {
  padding: 10px 20px;
}

.menu__container .ant-menu-item a,
.menu__container .ant-menu-submenu-title a {
  padding: 10px 15px;
}

.menu__container .ant-menu-horizontal {
  border-bottom: none;
}

.menu__container .menu_bar {  
  justify-content:center;
  align-items:center;
  display:flex;
}


@media (max-width: 1199px) {
  /*테블릿 가로*/
  .uploadPage {
      width: 90%;
      margin:2rem auto 0 auto;
      padding: 1rem 1rem;
  }
  .logo {  
    font-size: 35px;
    font-family: cookie-bold;
    padding: 15px 0px;   
  }
  .logo_bg {
    position:relative;
    background-color: #e6f7ff;  
    display:flex;
    height:55%; 
    justify-content: center;
    align-items:center;
  }
  .menu {
    overflow : hidden;
  }
}

@media (max-width: 991px) {
  /*테블릿 세로*/
  .uploadPage {
    width: 90%;
    margin:2rem auto 0 auto;
    padding: 1rem 1rem;
  }
  .logo {  
    font-size: 35px;
    font-family: cookie-bold;
    padding: 15px 0px;   
  }
  .logo_bg {
    position:relative;
    background-color: #e6f7ff;  
    display:flex;
    height:70%; 
    justify-content: center;
    align-items:center;
  }
}

@media (max-width: 767px) {
  /*모바일 가로*/
  .menu {
    padding: 0 20px;
    border-bottom: solid 1px #e8e8e8;
    /*overflow: auto;*/
    box-shadow: 0 0 30px #f3f1f1;
    background-color: white;
  }
  .logo_bg {
    position:relative;
    background-color: #e6f7ff;  
    display:flex;
    height:100%; 
    justify-content: center;
    align-items:center;
  }
  .logo {  
    font-size: 25px;
    font-family: cookie-bold;
    padding: 15px 0px;   
  }
  
}

@media (max-width: 415px) {
  /*모바일 세로*/

  .logo {  
    font-size: 25px;
    font-family: cookie-bold;
    padding: 15px 0px;   
  }
  .logo_bg {
    position:relative;
    background-color: #e6f7ff;  
    display:flex;
    height:70%; 
    justify-content: center;
    align-items:center;
  }
}
