.reviewPage {
    width: 75%;
    margin: 3rem auto;
    font-family: 'cookie-regular';
}
.Review-headerStyleOut { font-size: 27px; color: #E2E2E2;}
.Review-headerStyleOn { font-size: 27px; color: black;}
.Review-halfCol-1 { width: 50%; }
.Review-halfCol-2 { width: 50%; }
.Review-rightAlign {  box-align: right; }
.Review-rate { 
    display: flex; justify-content: center; 
    width: 100%; font-size: 25px; }
.Review-noCards {
    display: flex; 
    height: 300px; 
    justify-content: center; 
    align-items: center;
}
.Review-cards {
    width: 85%;
    margin: 0.5rem auto;
    word-break: keep-all;
}
.Review-card {
    width: 250; 
    margin-top: 16;
}
.Review-pagination {
    display: flex; 
    justify-content: center;
    margin-top: 50px;
}
@media (max-width: 1199px) {
    /*테블릿 가로*/
    .reviewPage {
        width: 95%;
        margin: 2.5rem auto;
        padding: 2rem 4rem;
    }
}

@media (max-width: 991px) {
    /*테블릿 세로*/
}

@media (max-width: 767px) {
    /*모바일 가로*/
    .reviewPage {
        width: 95%;
        margin: 2.5rem auto;
        padding: 1rem 4rem;
    }
    .Review-headerStyleOut { font-size: 24px; color: #E2E2E2;}
    .Review-headerStyleOn { font-size: 24px; color: black;}
    .Review-halfCol-1 { width: 80%; }
    .Review-halfCol-2 { width: 20%; }
    .ant-btn-background-ghost.ant-btn-primary {
        height: auto;
        width: auto;
    }
    .Review-rate { font-size: 50px; }
}

@media (max-width: 415px) {
    /*모바일 세로*/
    .reviewPage {
        width: 90%;
        margin: 3rem auto;
        padding: 1rem 1rem;
        font-family: 'cookie-regular';
    }
    .Review-headerStyleOut { font-size: 22px; color: #E2E2E2;}
    .Review-headerStyleOn { font-size: 22px; color: black;}
    .Review-halfCol-1 { width: 80%; }
    .Review-halfCol-2 { width: 20%; }
    .ant-btn-background-ghost.ant-btn-primary {
        height: auto;
        width: auto;
    }
    .Review-rate { font-size: 30px; }
}