.tipPage {
    width: 75%;
    margin: 3rem auto;
    font-family: 'cookie-regular';
}
.Tip-headerStyleOut { font-size: 27px; color: #E2E2E2;}
.Tip-headerStyleOn { font-size: 27px; color: black;}
.Tip-halfCol-1 { width: 50%; }
.Tip-halfCol-2 { width: 50%; }
.Tip-rightAlign {  box-align: right; }
.Tip-noCards {
    display: flex; 
    height: 300px; 
    justify-content: center; 
    align-items: center;
}
.Tip-cards {
    width: 85%;
    margin: 0.5rem auto;
    word-break: keep-all;
}
.Tip-card {
    width: 250; 
    margin-top: 16;
}
.Tip-cardNickname {
    font-size: 1.1vw;
    margin-bottom: 0.7vh
}
.Tip-cardTitle {
    font-size: 1.22vw;
    text-align: center;
    margin-top: 3.4vh;
}
.Tip-cardDescription {
    height: 150; 
    overflow: scroll; 
    margin-top: 22px;
}
.Tip-pagination {
    display: flex; 
    justify-content: center;
    margin-top: 50px;
}
@media (max-width: 1199px) {
    /*테블릿 가로*/
    .tipPage {
        width: 95%;
        margin: 2.5rem auto;
        padding: 2rem 4rem;
    }
    .Tip-cardNickname {
        font-size: 1.5vw;
        margin-bottom: 0.7vh
    }
    .Tip-cardTitle {
        font-size: 1.62vw;
        text-align: center;
        margin-top: 1.4vh;
    }
}

@media (max-width: 991px) {
    /*테블릿 세로*/
    .Tip-cardNickname {
        font-size: 2.1vw;
        margin-bottom: 0.6vh
    }
    .Tip-cardTitle {
        font-size: 2.3vw;
        text-align: center;
        margin-top: 2.4vh;
    }
}

@media (max-width: 767px) {
    /*모바일 가로*/
    .tipPage {
        width: 95%;
        margin: 2.5rem auto;
        padding: 1rem 4rem;
    }
    .Tip-headerStyleOut { font-size: 24px; color: #E2E2E2;}
    .Tip-headerStyleOn { font-size: 24px; color: black;}
    .Tip-halfCol-1 { width: 80%; }
    .Tip-halfCol-2 { width: 20%; }
    .ant-btn-background-ghost.ant-btn-primary {
        height: auto;
        width: auto;
    }
    .Tip-cardNickname {
        font-size: 2.5vw;
        margin-bottom: 0.2vh
    }
    .Tip-cardTitle {
        font-size: 3vw;
        text-align: center;
        margin-top: 6.5vh;
    }
}

@media (max-width: 415px) {
    /*모바일 세로*/
    .tipPage {
        width: 90%;
        margin: 3rem auto;
        padding: 1rem 1rem;
        font-family: 'cookie-regular';
    }
    .Tip-headerStyleOut { font-size: 22px; color: #E2E2E2;}
    .Tip-headerStyleOn { font-size: 22px; color: black;}
    .Tip-halfCol-1 { width: 80%; }
    .Tip-halfCol-2 { width: 20%; }
    .ant-btn-background-ghost.ant-btn-primary {
        height: auto;
        width: auto;
    }
    .Tip-cardNickname {
        font-size: 4.5vw;
        margin-bottom: 0.3vh
    }
    .Tip-cardTitle {
        font-size: 5vw;
        text-align: center;
        margin-top: 3.5vh;
    }

}