.detail-page {
    width: 65%;
    margin: 2rem auto;
    padding: 3rem 4rem 1rem 4rem;
    font-family: 'cookie-regular';
    background-color: #fafdff;
    border-radius: 10px;
    box-shadow: 7px 7px 7px rgb(238, 238, 238);
    word-break: keep-all;
}
.notice-page {
    width: 65%;
    margin: 3rem auto;
    font-family: 'cookie-regular';
    word-break: keep-all;
}

.detail-header {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: #096dd9;
    text-shadow: 3px 2px 2px #002766;
    margin-right: 20px;
    background: linear-gradient(to top, #bae7ff 50%, transparent 50%);
}
.notice-header {
    font-size: 50px;
    font-weight: bold;
    color: #096dd9;
    text-shadow: 3px 2px 2px #002766;
    margin-right: 20px;
    margin-bottom: 20px;
    background: linear-gradient(to top, #bae7ff 50%, transparent 50%);
}

.title-col { font-size: 34px; font-weight: bold; display: flex; align-items: flex-end; }
.edit-col { margin-left: 20px; margin-top: 2%; }
.delete-col { margin-left: 15px; margin-top: 2%; }

.detail-content { 
    padding: 2rem 2rem 1rem 2rem; 
}
.writer { width:80%; }
.writer > div {
    font-size: 18px;
    font-weight: bold;
    align-items: center;
}
.date { width:20%; }
.notice-date { 
    font-size: 20px;
    color: #c9c9c9;
    display: flex; 
    justify-content: flex-end;
}

@media (max-width: 1199px) {
    /*테블릿 가로*/
    .detail-header { font-size: 40px; }
    .notice-header { font-size: 40px; }
    .title-col { font-size: 28px; font-weight: bold; display: flex; align-items: flex-end; }
}

@media (max-width: 991px) {
    /*테블릿 세로*/
    .detail-page {
        width: 80%;
        padding: 2rem 2rem 1rem 2rem; 
    }
    .detail-content { padding: 1rem 1rem 1rem 1rem; }
    .title-col { font-size: 25px; }
    .writer { width:70%; }
    .date { width:30%; }
}

@media (max-width: 767px) {
    /*모바일 가로*/
}

@media (max-width: 415px) {
    /*모바일 세로*/
    .detail-page {
        width: 90%;
        padding: 2rem 2rem 1rem 2rem; 
    }
    .notice-page {
        width: 90%;
        padding: 1rem 2rem; 
    }
    .detail-content { padding: 1rem 1rem 1rem 1rem; }
    .detail-header { font-size: 30px; }
    .notice-header { font-size: 30px; }
    .title-col { font-size: 20px; width: 86%; }
    .edit-col { width: 8%; margin-left: 0; }
    .delete-col { width: 6%; margin-left: 0; }
    .writer { width:auto; }
    .writer > div { font-size: 16px; }
    .date { width:auto; }
    .notice-date { font-size: 13px; }
}